.header {
  color: #211f2b;
  line-height: 1.3;
}

.header__content {
  text-transform: uppercase;
  font-size: 29px;

  span {
    color: #ff8412;
  }
}

.header__desc {
  margin-top: 20px;
  font-size: 18px;
  color: rgba(33, 31, 43, 1);
}

.header-section.dark {
  .header__content,
  .header__desc {
    color: #ffffff;
  }
}
